---
---

<footer class="bg-gray py-4">
  <div class="container">
    <div class="flex justify-between items-center">
      <a
        data-astro-prefetch
        href="/"
        class="flex gap-1 font-semibold text-white"
        ><img
          src="/favicon.svg"
          alt="koi fish digital logo"
          width="20"
          height="20"
          loading="eager"
        />Koi Fish Digital</a
      >
    </div>
    <small class="text-white flex justify-between w-full">
      <span>&copy; Koi Fish Digital {new Date().getFullYear()}</span>
      <span>Created By Cody Nguyen</span>
    </small>
  </div>
</footer>
